<h1>Reports</h1>

<div class="form-group" ng-hide="csv">
    <h3>Import CSV file</h3>
    <input type="file" csv-reader results="csv" />
</div>

<div class="block right" ng-if="csv.length && !result.length">
    <h2>CSV file content</h2>

    <div class="form-group">
        <label for="startDate">Start date:</label>
        <input type="text" class="form-control" id="startDate" ng-model="vm.startDate">
    </div>
    <div class="form-group">
        <label for="endDate">End date:</label>
        <input type="text" class="form-control" id="endDate" ng-model="vm.endDate">
    </div>
    <div class="form-group">
        <label for="metrics">Metrics:</label>
        <input type="text" class="form-control" id="metrics" ng-model="vm.metrics">
    </div>
    <div class="form-group">
        <label for="dimensions">Dimensions:</label>
        <input type="text" class="form-control" id="dimensions" ng-model="vm.dimensions">
    </div>
    <div class="form-group">
        <label for="startIndex">Start Index:</label>
        <input type="number" class="form-control" id="startIndex" ng-model="vm.startIndex">
    </div>
    <div class="form-group">
        <label for="maxResults">Max Results:</label>
        <input type="number" class="form-control" id="maxResults" ng-model="vm.maxResults">
    </div>

    <div class="form-group">
        <button class="btn btn-primary" ng-click="vm.calculatePV()">Calculate pageviews</button>
    </div>

    <div class="content">
        <table class="table">
            <tr ng-repeat="url in csv">
                <td>{{url.path}}</td>
            </tr>
        </table>    
    </div>
</div>

<div class="block right" ng-if="result.length">
    <button class="btn" ng-click="vm.loadPrev();">Prev</button>
    <button class="btn" ng-click="vm.resetResults();">Change Setting</button>
    <button class="btn" ng-click="vm.loadNext();">Next</button>
    <h2>404 pageviews</h2>
    <p>Sampled: {{data.containsSampledData}} | Items: {{data.itemsPerPage}} | Total: {{data.totalResults}} | Start: {{vm.startIndex}}</p>


    <div class="content">
        <table class="table">
            <tr ng-repeat="pagePath in result">
                <td>{{pagePath[0]}}</td>
                <td>{{pagePath[1]}}</td>
            </tr>
        </table>
    </div>
</div>