<h1>Hit builder</h1>
	<div>
		<div class="row" ng-if="validatedState === 0">
			<div class="form-group col-sm-12 bs-callout">
				<h4>Not validate yet</h4>
				<p>Hit hasn't been validated yet.</p>
			</div>
		</div>
        <div class="row" ng-if="validatedState === 2">
			<div class="form-group col-sm-12 bs-callout">
				<h4>Validating</h4>
				<p>Please wait.</p>
			</div>
		</div>
        <div class="row" ng-if="validatedState === -1">
			<div class="form-group col-sm-12 bs-callout bs-callout-danger">
				<h4>Invalidate hit</h4>
				<ul>
					<li ng-repeat="err in validationErrors">{{err}}</li>
				</ul>
			</div>
		</div>
        <div class="row" ng-if="validatedState === 1">
			<div class="form-group col-sm-12 bs-callout bs-callout-success">
				<h4>Hit valid</h4>
				<p>Congratulations! Your hit is valid.</p>
			</div>
		</div>
        
		<div class="row">
			<div class="form-group col-sm-12" ng-class="{'has-feedback': validatedState === 1 || validatedState === -1, 'has-error': validatedState === -1, 'has-success': validatedState === 1}">
				<div class="input-group">
					<div class="input-group-addon" title="http://www.google-analytics.com">
						/collect?
					</div>
					<input class="form-control" type="text" name="payload" id="payload" ng-model="payload"/>
                    <span ng-if="validatedState === -1" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span ng-if="validatedState === 1" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-3">
				<button class="btn btn-primary" ng-click="vm.validateHit();" ng-if="validatedState === 0">Validate hit</button>
                <button class="btn btn-primary" ng-click="vm.validateHit();" ng-if="validatedState === 2" disabled>Validating...</button>
                <button class="btn btn-danger" ng-click="vm.validateHit();" ng-if="validatedState === -1">Revalidate</button>
                <button class="btn btn-success" data-toggle="modal" data-target="#myModal" ng-click="vm.sendHit();" ng-if="validatedState === 1" ><span class="glyphicon glyphicon-send" aria-hidden="true"></span> &nbsp;&nbsp;Send hit to Google Analytics</button>
			</div>
		</div>
	</div>
    
	<hr>
	
	<div class="row">
		<div class="form-group col-sm-1">
			<label for="v">v</label>
			<input type="text" class="form-control" name="v" id="v" value="1" readonly >
			<p class="help-block">Version.</p>
		</div>
		<div class="form-group col-sm-3">
			<label for="t">t</label>
			<select class="form-control selectpicker" name="t" id="t" ng-model="params.t" ng-change="vm.updatePayload()">
				<option value="pageview">pageview</option>
				<option value="event">event</option>
				<option value="transaction">transaction</option>
				<option value="item">item</option>
				<option value="social">social</option>
				<option value="timing">timing</option>
				<option value="screenview">screenview</option>
				<option value="exception">exception</option>
			</select>
			<p class="help-block">Hit type.</p>
		</div>
		<div class="form-group col-sm-3">
			<label for="tid">tid</label>
			<input class="form-control" placeholder="UA-XXXXX-Y" type="text" name="tid" id="tid" ng-model="params.tid"  ng-change="vm.updatePayload()"/>
			<p class="help-block">Google Analytics Tracking ID.</p>
		</div>
		<div class="form-group col-sm-5">
			<label for="cid">cid</label>
			<div class="input-group">
				<input class="form-control" type="text" name="cid" id="cid" ng-model="params.cid" ng-change="vm.updatePayload()"/>
				<div class="input-group-addon btn" ng-click="vm.generateUUID(); vm.updatePayload()" title="Randomly Generate UUID">
					<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
				</div>
			</div>
			<p class="help-block">Client ID.</p>
		</div>
	</div>
	<hr>
	<div id="params">
		<div class="row" ng-repeat="(index, optParam) in optParams">
			<div class="form-group col-sm-2">
                <label ng-if="index == 0">Name</label>
				<input class="form-control text-right" type="text" name="{{optParams[index].key}}" id="{{optParams[index].key}}" ng-model="optParams[index].key"  ng-change="vm.updatePayload()"/>
			</div>
			<div class="form-group col-sm-9">
                <label ng-if="index == 0">Value</label>
				<input class="form-control" type="text" name="{{optParams[index].value}}" id="{{optParams[index].value}}" ng-model="optParams[index].value"  ng-change="vm.updatePayload()"/>
			</div>
			<div class="form-group col-sm-1 text-right">
                <label ng-if="index == 0">Remove</label>
				<button class="btn btn-danger" ng-click="vm.removeParamRow(index); vm.updatePayload();"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
			</div>
		</div>
		
	</div> 
	<div class="row">
		<div class="form-group col-sm-12">
			<button class="btn" ng-click="vm.addParamRow();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add parameter</button>
		</div>
	</div>
    
    
    
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{modalHeader}}</h4>
                </div>
                <div class="modal-body">
                    <p>{{modalText}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
	